@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

.myDiv {
  text-align: center;
}

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
  font-family: 'PT Serif', serif;
  background-color: #FEFDEC;
  color: black;
}

h1 {
  font-family: 'PT Serif', serif;
  padding: 20px;
  color: #8093F1;
}

h2 {
  color: #8093F1;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  margin: auto;
  padding-top: 50px;
  padding-right: 200px;
  padding-left: 200px;
}

a {
  color: black;
}

a:visited {
  color: #8093F1;
}

footer {
  font-family: 'EB Garamond', serif;
  font-size: 14px;
  color: grey;
  margin-top: 100px;
}

main {}
