@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

.myDiv {
  text-align: center;
}

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #C3CAD5 1px, rgba(0, 0, 0, 0) 1px);
  font-family: 'PT Serif', serif;
  background-color: #FEFDEC;
  color: black;
}

h1 {
  font-family: 'PT Serif', serif;
  font-size: 50px;
  text-shadow: 3px 3px #0A185C;
  padding: 20px;
  color: #8093F1;
}

h2 {
  color: #8093F1;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  margin: auto;
  padding-top: 50px;
  padding-right: 200px;
  padding-left: 200px;
}

a {
  margin-top: 10px;
  color: black;
}

a:visited {
  color: #8093F1;
}

footer {
  font-family: 'EB Garamond', serif;
  font-size: 14px;
  color: #9FAABC;
  margin-top: 100px;
}

main {}
